<!DOCTYPE html>
<html>
    <head>
        <title>{{ Title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="{{ URL }}css/layout.css">
        <link href="http://fonts.googleapis.com/css?family=Roboto:100,100italic,300,400,400italic,700,700italic,900" rel="stylesheet" type="text/css">
        <script src="{{ URL }}js/jquery.min.js"></script>
         <script src="{{ URL }}js/Chart.js/Chart.js"></script>
        <script type="application/javascript">
            var URL = "{{ URL }}";
            var Game = "{{ Game }}"
        </script>
    </head>
    <body>
        <div id="container">
        <div id="header">
    		<h1><a href="{{ URL }}index.php">JUSTFORFUN<b>STATS</b></a></h1>
    		<p>{{ Title }}</p>
		</div>