<div id="content">
    <div class="teaser">
        <h2>Select a game</h2>
    </div>
    <div class="game">
        <a href='{{ URL }}game/uo'>UNITED OFFENSIVE<img src='css/images/cod_uo.jpg'></a>
    </div>
    <div class="game">
        <a href='{{ URL }}game/cod2'>CALL OF DUTY 2<img src='css/images/cod_cod2.jpg'></a>
    </div>
    <div class="game">
        <a href='{{ URL }}game/mw1'>MODERN WARFARE 1<img src='css/images/cod_mw1.jpg'></a>
    </div>
    <div class="game">
        <a href='{{ URL }}game/waw'>WORLD AT WAR<img src='css/images/cod_waw.jpg'></a>
    </div>
    <div class="game">
        <a href='{{ URL }}game/mw2'>MODERN WARFARE 2<img src='css/images/cod_mw2.jpg'></a>
    </div>
</div>